{% extends 'base.html' %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
<div class="hero">
    <div class="container">
        <div class="hero-content">
            <h1 class="reveal">Welcome to My Portfolio</h1>
            <p class="reveal">Hi, I'm Jared, a passionate developer dedicated to building efficient and user-friendly web applications.</p>
            <div class="hero-buttons reveal">
                <a href="https://www.facebook.com/angeljared.delacruz" target="_blank" class="btn">Visit My FB</a>
                <a href="https://github.com/jaredV54" target="_blank" class="btn btn-outline">Connect on GitHub</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}